<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cst2335.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject">
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailsFragment"></activity>
        <activity android:name=".Quiz_frame">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EmptyActivity" />
        <activity android:name=".IndexActivity">
        </activity>

        <activity android:name=".CarResultActivity"></activity>
        <activity android:name=".Car_Favorites_Activity"></activity>


      
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".Soccer_Favorites_Activity"
            android:label="@string/title_activity_soccer__favorites_"></activity>
        <activity android:name=".Soccer_Empty" />




        <activity android:name=".SoccerActivity" />
        <activity android:name=".CarActivity" />

    </application>

</manifest>